<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Formulário Adionar Aperitivos</h2>
                    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit
                        amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Forms</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Form Validations</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->
        {{>_msg}}

        <!-- ============================================================== -->
        <!-- horizontal form -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Cadastro do Produto Aperitivo</h5>
                <div class="card-body">
                    <h2>Resetar as Paginas</h2>
                    <p>Ao entrar nesta pagina se estiver descomentado a models responsável por criar tables irá resetar
                        as tabelas</p>
                    <ul>
                        <li><a href="/reset/headernav"><button class="btn btn-success">HeaderNav</button></a></li>
                        <li><a href="/reset/homeslideshow"><button class="btn btn-success">slideshow</button></a></li>
                        <li><a href="/reset/history"><button class="btn btn-success">History</button></a></li>
                        <li><a href="/reset/cardapiohome"><button class="btn btn-success">Cardapio Pagina
                                    Home</button></a></li>
                        <li><a href="/reset/footer"><button class="btn btn-success">Footer</button></a></li>
                        <li><a href="/reset/contato"><button class="btn btn-success">Contato</button></a></li>
                        <li>
                            <h4>Resetando Menus</h4>
                        </li>
                        <li><a href="/reset/menuburger"><button class="btn btn-success">Menu Burger</button></a></li>
                        <li><a href="/reset/menubebidas"><button class="btn btn-success">Menu Bebidas</button></a></li>
                        <li><a href="/reset/menupizzas"><button class="btn btn-success">Menu Pizzas</button></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end horizontal form -->
        <!-- ============================================================== -->
    </div>
</div>
</div>