<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Pagina Reset</h2>
                    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit
                        amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Forms</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Form Validations</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->
        {{>_msg}}

        <!-- ============================================================== -->
        <!-- horizontal form -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Resetar a Página</h5>
                <div class="card-body">
                    <h2>Info: <small>Leia abaixo com atenção!</small></h2>
                    <p>Ao entrar nesta pagina se estiver descomentado a models responsável por criar tables irá resetar
                        as tabelas</p>
                    <div class="btn-group col-12" role="group" aria-label="Basic example">
                        <a href="/reset/headernav" class="ml-1 col-2"><button class="btn btn-danger col-12">HeaderNav</button></a>
                        <a href="/reset/homeslideshow" class="ml-1 col-2"><button class="btn btn-danger col-12">slideshow</button></a>
                        <a href="/reset/history" class="ml-1 col-2"><button class="btn btn-danger col-12">History</button></a>
                        <a href="/reset/cardapiohome" class="ml-1 col-2"><button class="btn btn-danger col-12">CardapioHome</button></a>
                        <a href="/reset/footer" class="ml-1 col-2"><button class="btn btn-danger col-12">Footer</button>
                        <a href="/reset/contato" class="ml-1 col-2"><button class="btn btn-danger col-12">Contato</button></a>
                    </div>
                    <ul>                       
                        <li>
                            <h4>Resetando Menus</h4>
                        </li>
                        <li><a href="/reset/menuburger"><button class="btn btn-success">Menu Burger</button></a></li>
                        <li><a href="/reset/menubebidas"><button class="btn btn-success">Menu Bebidas</button></a></li>
                        <li><a href="/reset/menupizzas"><button class="btn btn-success">Menu Pizzas</button></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end horizontal form -->
        <!-- ============================================================== -->
    </div>
</div>
</div>