<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Formulário Adionar Aperitivos</h2>
                    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit
                        amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Forms</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Form Validations</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->
        {{>_msg}}

        <!-- ============================================================== -->
        <!-- horizontal form -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">            
                <div class="card">
                    <h5 class="card-header">Visualizar Imagens Carregadas</h5>
                    <div class="card-body">
                        <form action="/uploadfiles/files" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label><span class="text-danger">* </span>Imagem já carregadas</label>
                                <div class="custom-file">
                                    <select name="file" id="file" class="form-control">
                                        {{#each paths}}
                                        <option value="{{this}}">{{this}} </option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-outline-info col-12">Carregar</button>
                    </form>
                    <hr class="mt-5">
                    <h4>Carregamento das Imagens</h4>
                    <form action="/uploadfiles/upload" method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label><span class="text-danger">* </span>Carregue a Imagem</label>
                                <div class="custom-file">
                                    <input type="file" name="img" class="form-control" id="customFile" border="1">
                                    <label class="form-control" for="customFile">Carregar Arquivo</label>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-outline-success col-12">Enviar</button>
                    </form>
                    <hr class="mt-5">
                    <h4>Deletar Imagens Carregadas</h4>
                    <form action="/uploadfiles/delete" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label><span class="text-danger">* </span>Imagem já carregadas</label>
                                <div class="custom-file">
                                    <select name="file" id="file" class="form-control">
                                        {{#each paths}}
                                        <option value="{{this}}">{{this}} </option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-outline-danger col-12">Deletar</button>
                    </form>
                    </div>
                </div>
        </div>
        <!-- ============================================================== -->
        <!-- end horizontal form -->
        <!-- ============================================================== -->        
    </div>
</div>