<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Site - Login</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
   <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
  
<body>
  <div class="card-body">
        {{{body}}}

    </div>

  <script src="/js/placeholders.min.js"></script> <!-- polyfill for the HTML5 placeholder attribute -->
<script src="/js/main.js"></script> <!-- Resource JavaScript -->

</body>

</html>