<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="Isaac e João">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/brands.min.css">
<!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <!-- Icones -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
     <!-- Bootstrap CSS -->
    <!--  --><link rel="stylesheet" href="/css/bootstrap.min.css">    
    <!-- Radio and check inputs -->
    <link href="/css/skins/square/grey.css" rel="stylesheet">
	<!-- Site CSS -->
    <link rel="stylesheet" href="/css/style.css">   
    <link href="/css/cdn.shopify.com/s/files/1/1148/3974/t/18/assets/style.scssc9fc.css?v=13723650677764253788" rel="stylesheet" type="text/css" media="all" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">
    <title>Burguer Restaurant</title>

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/demo.css"> <!-- Demo style -->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	

</head>
<body>
    
    
    {{{body}}}
    <!-- ============================================Endereco cliente========================================================== -->

</body>
    <!-- adionando CDN Fonte-awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/brands.min.js"></script>
    <!-- adionando CDN JQuery -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
   <!-- Todos os arquivos JS -->
	<script src="/js/jquery-3.2.1.min.js"></script>
	
	
    <!-- Todos os Plugins -->
	<script src="/js/jquery.superslides.min.js"></script>
    <script src="/js/chat.js"></script>
	<script src="/js/images-loded.min.js"></script>
	<script src="/js/isotope.min.js"></script>
	<script src="/js/baguetteBox.min.js"></script>
	<script src="/js/form-validator.min.js"></script>
    <script src="/js/contact-form-script.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/carrinho.js"></script>
    <script src="/js/ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js" type="text/javascript"></script>
    <!-- COMMON SCRIPTS -->
    <script src="/js/jquery-2.2.4.min.js"></script>
   <!-- <script src="/js/common_scripts_min.js"></script> -->
    <script src="/js/functions.js"></script>
    <script src="/js/validate.js"></script>
    <!-- SPECIFIC SCRIPTS -->
    <script  src="/js/cat_nav_mobile.js"></script>
    <script>$('#cat_nav').mobileMenu();</script>
<!-- HEAD -->
    <script src="js/ResizeSensor.min.js"></script>
     <script src="js/placeholders.min.js"></script> <!-- polyfill for the HTML5 placeholder attribute -->
    <script src="js/main.js"></script> <!-- Resource JavaScript -->
    <!-- 4bfbad49ab8fb0be164e86090f94f20ce7646de2 -->

    <!-- Responável pelo Menu Carrinho de compra fixo na tela do lado direito -->
    <script src="/js/theia-sticky-sidebar.min.js"></script>
    <!-- fim -->
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
         
<!--44dc54e8f6533b9e3baa9c63c325e7f783f20880 -->
<script>
    jQuery('#sidebar').theiaStickySidebar({
      additionalMarginTop: 80
    });
</script>
<!-- SMOOTH SCROLL -->
<script>
	$('#cat_nav a[href^="#"]').click(function() {
		if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
			|| location.hostname == this.hostname) {
			var target = $(this.hash);
			target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
			   if (target.length) {
				 $('html,body').animate({
					 scrollTop: target.offset().top -75
				}, 800);
				return false;
			}
		}
	});
</script>
<script>
  WebFont.load({
    google: {
      families: ['Raleway:300,400,600,800','Bitter:400,400italic,700','Alex+Brush:']
    }
  });
</script>

  <!-- Scripts ================================================== -->
  <script>
    function require(src, callback) {
      var script = window.document.createElement('script');
      script.src = src;
      script.async = true;
      document.body.appendChild(script);
      if (callback && typeof(callback) === 'function') {
          script.onload = callback;
      }
      return script;
    }
  </script>
<script src="/js/marketingDirecionado.js"></script>


</body> 

</html>