<div class="cardmt-5">
    <div class="card-body mt-5">
        <div class="container mt-5">
            <form class="form-signin text-center" method="POST" action="/superuser/login">
                <!-- <img class="mb-4" src="/img/asda.png" alt="Site" width="72" height="72"> -->
                <h1 class="h3 mb-3 font-weight-normal">Área Administrativa</h1>
                {{>_msg}}
                <div class="form-group">
                    <label>Usuário</label>
                    <input type="text" name="email" class="form-control" placeholder="Digite o usuário" value="admin@gmail.com">
                </div>
                <div class="form-group">
                    <label>Senha</label>
                    <input type="password" name="password" class="form-control" placeholder="Digite a senha" value="Iagent*123">
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Acessar</button>
                <p class="text-center">Esqueceu a senha?</p>
            </form>
        </div>
    </div>
</div>