<section id="dashboard">
    <div class="wrapper ">
        <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
            {{>_navEditPages}}
            <div class="content p-1">
                <div class="list-group-item">
                    <div class="d-flex">
                        <div class="mr-auto p-2">
                            <h2 class="display-4 titulo">Personalize seu dashboard</h2>
                        </div>
                        <div class="p-2">
                            <span class="d-none d-md-block">
                                <a href="/sobre/vis-sobre" class="btn btn-outline-primary btn-sm">Visualizar</a>
                            </span>
                            <div class="dropdown d-block d-md-none">
                                <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="acoesListar"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Ações
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="acoesListar">
                                    <a class="dropdown-item" href="/sobre/vis-sobre">Visualizar</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <h4 class="text-center mt-5">Escolha o melhor estilo para seu dashboard </h4>
                    <div class="card">
                        <div class="container">
                            <form action="" method="post">
                                <div class="row">
                                    <div class="form-group col-2 ml-5 mr-2">
                                        <label for="">Cor de Fundo Preta</label>
                                        <input type="radio" name="corFundo" id="corFundo" value="preto">
                                    </div>
                                    <div class="form-group col-3 ml-5">
                                        <label for="">Cor de Fundo Branca</label>
                                        <input type="radio" name="corFundo" id="corFundo" value="branco">
                                    </div>
                                    <div class="form-group col-2">
                                        <label for="">Cor de Fundo Cinza</label>
                                        <input type="radio" name="corFundo" id="corFundo" value="cinza">
                                    </div>
                                </div>
                                <button class="btn btn-success text-center">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>